<template lang="html">
	<div class="wall-composer">
		<input type="text" placeholder="Напишите сообщение..." v-model="recordText" @keyup.enter="postRecord">
      	<button class="btn btn-primary" @click="postRecord">Отправить</button>
	</div>
</template>

<script>
export default {
	data() {
		return {
			recordText: ''
		}
	},
	methods: {
		postRecord() {
			this.$emit('recordposted', {
				record: this.recordText,
				user: "Сергей Иванов"
			});
			this.recordText = '';
		}
	}
}
</script>

<style lang="css">
.wall-composer {
    display: flex;
}
.wall-composer input {
    flex: 1 auto;
}
.wall-composer button {
    border-radius: 0;
}
</style>