<template lang="html">
	<div class="wall-record">
	    <p>{{ record.record }}</p>
	    <small>{{ record.user }}</small>
  	</div>
</template>

<script>
export default {
	props: ['record']
}
</script>

<style lang="css">
.wall-record {
    padding: 1rem;
    border-bottom: 1px solid blue;
}
.wall-record > p {
    margin-bottom: .5rem;
}

.wall-record:last-child {
	border-bottom: none;
}
</style>