<template lang="html">
	<div class="wall-log">
		<wall-record v-for="record in records" :key="record.id" :record="record"></wall-record>
	</div>
</template>

<script>
export default {
	props: ['records']
}
</script>

<style lang="css">
	wall-record {
		border-bottom: 1px solid blue;
	}
</style>